</div>
<div id="footer">
  <p style="padding:0; margin:0"><small>[lang:POWERED] [websvn:version] [lang:AND] <a href="http://subversion.tigris.org">Subversion</a> [websvn:svnversion]</small></p>
</div>
</body>
</html>
