
<div align="right">[websvn:projects_form][websvn:projects_select][websvn:projects_submit][websvn:projects_endform]</div>
<h1>[websvn:repname]</h1>

<table border=0 cellpadding=2 cellspacing=0>
<tr><th colspan=2 class="HdrClmnEnd">[lang:REVINFO]</th></tr>
<tr><td class="CatClmn0" valign="top">[lang:CURDIR]:</td><td class="row0">[websvn:path]</td></tr>
<tr><td class="CatClmn1">[lang:REV]:</td><td class="row1">[websvn:rev]
[websvn-test:goyoungestlink]
 - [websvn:goyoungestlink]
[websvn-endtest]
</td></tr>
<tr><td class="CatClmn0" valign="top">[lang:AUTHOR]:</td><td class="row0">[websvn:author]</td></tr>
<tr><td class="CatClmn1" valign="top">[lang:LASTMOD]:</td><td class="row1">[websvn:date]</td></tr>
<tr><td class="CatClmn0" valign="top">[lang:LOGMSG]:</td><td class="row0">[websvn:log]</td></tr>
[websvn-test:hidechanges]
   <tr><td class="CatClmn1" valign="top">&nbsp;</td><td class="row1">([websvn:showchangeslink])</td></tr>
[websvn-else]
[websvn:showchangeslink]
   <tr><td class="CatClmn1" valign="top">&nbsp;</td><td class="row1">([websvn:hidechangeslink])</td></tr>
   [websvn-test:changedfilesbr]
   <tr><td class="CatClmn0" valign="top">[lang:CHANGEDFILES]:</td><td class="row0">[websvn:changedfilesbr]</td></tr>
   [websvn-endtest]
   [websvn-test:newfilesbr]
      [websvn-test:changedfilesbr]
         <tr><td class="CatClmn1" valign="top">[lang:NEWFILES]:</td><td class="row1">[websvn:newfilesbr]</td></tr>
      [websvn-else]
         <tr><td class="CatClmn0" valign="top">[lang:NEWFILES]:</td><td class="row0">[websvn:newfilesbr]</td></tr>
      [websvn-endtest]
   [websvn-endtest]
   [websvn-test:deletedfilesbr]
      [websvn-test:changedfilesbr]
         [websvn-test:newfilesbr]
            <tr><td class="CatClmn0" valign="top">[lang:DELETEDFILES]:</td><td class="row0">[websvn:deletedfilesbr]</td></tr>
            [websvn-else]
            <tr><td class="CatClmn1" valign="top">[lang:DELETEDFILES]:</td><td class="row1">[websvn:deletedfilesbr]</td></tr>
         [websvn-endtest]
      [websvn-else]
         [websvn-test:newfilesbr]
            <tr><td class="CatClmn1" valign="top">[lang:DELETEDFILES]:</td><td class="row1">[websvn:deletedfilesbr]</td></tr>
            [websvn-else]
            <tr><td class="CatClmn0" valign="top">[lang:DELETEDFILES]:</td><td class="row0">[websvn:deletedfilesbr]</td></tr>
         [websvn-endtest]
      [websvn-endtest]
   [websvn-endtest]      
[websvn-endtest]
</table>

[websvn-defineicons]
dir=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/folder.png" alt="[FOLDER]">
*=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/file.png" alt="[FILE]">
.c=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filec.png" alt="[C-FILE]">
.h=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/fileh.png" alt="[H-FILE]">
.s=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/files.png" alt="[S-FILE]">
[websvn-enddefineicons]

<p><hr>
[websvn:curdirlinks] - [websvn:curdirloglink]
[websvn-test:curdirrsslink]
 - [websvn:curdirrssanchor]<img style="border: 0;" src="[websvn:locwebsvnhttp]/templates/BlueGrey/xml.gif" width="36" height="14" alt="[lang:RSSFEED]"></a>
[websvn-endtest]
<p>
<table cellpadding="2px" cellspacing="0" width="100%">
   <tr>
      <th class="HdrClmn" width="100%"><b>[lang:PATH]</b></th>
      [websvn-test:curdirrsslink]
      <th class="HdrClmn"><b>[lang:LOG]</b></th>
      <th class="HdrClmnEnd"><b>[lang:RSSFEED]</b></th>
      [websvn-else]
      <th class="HdrClmnEnd"><b>[lang:LOG]</b></th>
      [websvn-endtest]
   </tr>
   [websvn-startlisting]
   <tr>
      <td style="border-right: 1px solid black" class="row[websvn:rowparity]">
         [websvn-icon]
         [websvn:filelink]
      </td>
      [websvn-test:curdirrsslink]
      <td style="border-right: 1px solid black" class="row[websvn:rowparity]">[websvn:fileviewloglink]</td>
      <td class="row[websvn:rowparity]">[websvn:rssanchor]<img style="border: 0;" src="[websvn:locwebsvnhttp]/templates/BlueGrey/xml.gif" width="36" height="14" alt="[lang:RSSFEED]"></a></td>
      [websvn-else]
      <td class="row[websvn:rowparity]">[websvn:fileviewloglink]</td>
      [websvn-endtest]
   </tr>
   [websvn-endlisting]
</table>
<hr>
