
<h1>[websvn:repname] - [lang:REV] [websvn:rev]</h1>
[websvn:goheadlink]
<p><b>[lang:LASTMOD]:</b> [websvn:author] - [websvn:date]
<p><b>[lang:LOGMSG]:</b><br>
[websvn:log]
<p>
[websvn-test:hidechanges]
   <p>[websvn:showchangeslink]
[websvn-endtest]

[websvn-test:showchanges]
   <p><b>[lang:CHANGES]:</b><br>
   <center><table border=0 cellpadding=4 cellspacing=0>
      <tr>
         <th class="HdrClmn"><center><b>[lang:NEWFILES]</b></center></th>
         <th class="HdrClmn"><center><b>[lang:CHANGEDFILES]</b></center></th>
         <th class="HdrClmnEnd"><center><b>[lang:DELETEDFILES]</b></center></th>
      </tr>
      <tr>  
         <td class="row0" style="border-right: 1px solid black">[websvn:newfiles]</td>
         <td class="row0" style="border-right: 1px solid black">[websvn:changedfiles]</td>
         <td class="row0">[websvn:deletedfiles]</td>
      </tr>
   </table>
   <p>[websvn:hidechangeslink]
   </center>
[websvn-endtest]

<p><hr>
<b>[lang:CURDIR]:</b> [websvn:curdirlinks] - [websvn:curdirloglink]
<p>
<table cellpadding="2px" cellspacing="0" width="100%">
   <tr>
      <th class="HdrClmn" width="100%"><b>Path</b></th>
      <th class="HdrClmnEnd"><b>Log</b></td>
   </tr>
   [websvn-startlisting]
   <tr>
      <td style="border-right: 1px solid black" class="row[websvn:rowparity]">[websvn:filelink]</td>
      <td class="row[websvn:rowparity]">[websvn:fileviewloglink]</td>
   </tr>
   [websvn-endlisting]
</table>
<hr>
