<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td align="left"><h1>[websvn:repname]</h1></td>
    <td align="right"><b>[lang:PROJECTS]:</b> [websvn:projects_form][websvn:projects_select][websvn:projects_submit][websvn:projects_hidden][websvn:projects_endform]</td>
  </tr>
</table>

[websvn-test:noaccess]
   [lang:NOACCESS]
[websvn-else]
   [websvn:curdirlinks] - [lang:REV] <b>[websvn:rev]</b>
   [websvn-test:goyoungestlink]
   [websvn:goyoungestlink]<p>
   [websvn-endtest]
   <p>[websvn:prevdifflink] -
     [websvn:blamelink]
     [websvn-test:dllink]
       - [websvn:dllink]
     [websvn-endtest]
   </p>
   <hr />
   [websvn-getlisting]
   <hr />
[websvn-endtest]
