    <h1>[websvn:repname] - [lang:REV] [websvn:rev]</h1>
    <div id="projects">[websvn:projects_form]<b>[lang:PROJECTS]:</b> [websvn:projects_select][websvn:projects_submit][websvn:projects_endform]</div>
[websvn-test:error]
    <div id="error">[websvn:error]</div>
[websvn-else]
    <div id="revjump">[websvn:revision_form]<b>[lang:REV]:</b>[websvn:revision_input][websvn:revision_submit][websvn:revision_endform]</div>
    <div id="pathlinks">[websvn:pathlinks]</div>
    <div id="nav">
      [websvn-test:prevrevurl]
      <a href="[websvn:prevrevurl]">[lang:REV] [websvn:prevrev]</a> -
      [websvn-endtest]
      [websvn-test:nextrevurl]
      <a href="[websvn:nextrevurl]">[lang:REV] [websvn:nextrev]</a> -
      [websvn-endtest]
      [websvn-test:goyoungestlink]
      [websvn:goyoungestlink] -
      [websvn-endtest]
      [websvn-test:mimelink]
      [websvn:mimelink] -
      [websvn-endtest]
      [websvn:blamelink] -
      [websvn-test:difflink]
      [websvn:difflink] -
      [websvn-endtest]
      [websvn:revlink] -
      [websvn:loglink]
      [websvn-test:downloadlink]
      - [websvn:downloadlink]
      [websvn-endtest]
      [websvn-test:clientrooturl]
      - <a href="[websvn:clientrooturl][websvn:path]">SVN</a>
      [websvn-endtest]
      [websvn-test:rssurl]
      - <a href="[websvn:rssurl]"><img src="[websvn:locwebsvnhttp]/templates/BlueGrey/images/rss.gif" width="27" height="15" alt="[lang:RSSFEED]"/></a>
      [websvn-endtest]
    </div>
    [websvn-test:warning]
    <div id="warning">[websvn:warning]</div>
    [websvn-else]
    <div id="listing">
    [websvn-getlisting]
    </div>
    [websvn-test:warning]
    <!-- check for warnings generated by getlisting -->
    <div id="warning">[websvn:warning]</div>
    [websvn-endtest]
    [websvn-endtest]
[websvn-endtest]
