<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td align="left" rowspan="2"><h1>[websvn:repname]</h1></td>
    <td align="right"><b>[lang:PROJECTS]:</b> [websvn:projects_form][websvn:projects_select][websvn:projects_submit][websvn:projects_hidden][websvn:projects_endform]</td>
  </tr>
  <tr>
    <td align="right"><b>[lang:REV]:</b>[websvn:revision_form][websvn:revision_input][websvn:revision_submit][websvn:revision_hidden][websvn:revision_endform]</td>
  </tr>
</table>

[websvn-test:noaccess]
   [lang:NOACCESS]
[websvn-else]
   <table cellpadding="2" cellspacing="0" class="outline">
   <tr><th colspan=2 class="HdrClmnEnd">[lang:REVINFO]</th></tr>
   <tr><td class="CatClmn1" valign="top">[lang:CURDIR]:</td><td class="row1">[websvn:path]</td></tr>
   <tr><td class="CatClmn0">[lang:REV] &amp; [lang:AUTHOR]:</td><td class="row0">[lang:REV] [websvn:rev] - [websvn:author]
   [websvn-test:goyoungesturl]
    - <a href="[websvn:goyoungesturl]">[lang:GOYOUNGEST]</a>
   [websvn-endtest]
   </td></tr>
   [websvn-test:restricted]
   [websvn-else]
      <tr><td class="CatClmn1" valign="top">[lang:LASTMOD]:</td><td class="row1">[lang:REV] [websvn:lastchangedrev] - [websvn:date]</td></tr>
      <tr><td class="CatClmn0" valign="top">[lang:LOGMSG]:</td><td class="row0">[websvn:log]</td></tr>
   [websvn-endtest]
   </table>
   
   [websvn-defineicons]
   dir=<img align="middle" valign="center" src="[websvn:locwebsvnhttp]/templates/BlueGrey/folder.png" alt="[FOLDER]">
   diropen=<img align="middle" valign="center" src="[websvn:locwebsvnhttp]/templates/BlueGrey/folder.png" alt="[OPEN-FOLDER]">
   *=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/file.png" alt="[FILE]">
   .c=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filec.png" alt="[C-FILE]">
   .cpp=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filecpp.png" alt="[CPP-FILE]">
   .h=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/fileh.png" alt="[H-FILE]">
   .html=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filehtml.png" alt="[HTML-FILE]">
   .java=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filejava.png" alt="[JAVA-FILE]">
   .m=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filem.png" alt="[M-FILE]">
   .py=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filepy.png" alt="[PY-FILE]">
   .s=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/files.png" alt="[S-FILE]">
   
   i-node=<img align="middle" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/i-node.png" alt="[NODE]">
   t-node=<img align="middle" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/t-node.png" alt="[NODE]">
   l-node=<img align="middle" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/l-node.png" alt="[NODE]">
   e-node=<img align="middle" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/e-node.png" alt="[NODE]">
   [websvn-enddefineicons]
   
   <p><hr>
   [websvn:curdirlinks]
   - <a href="[websvn:listingurl]">[lang:LISTING]</a>
   - <a href="[websvn:logurl]">[lang:VIEWLOG]</a>
   [websvn-test:compareurl]
    - <a href="[websvn:compareurl]">[lang:DIFFPREV]</a>
   [websvn-endtest]    
   [websvn-test:downloadurl]
    - <a href="[websvn:downloadurl]" rel="nofollow">[lang:TARBALL]</a>
   [websvn-endtest]
   [websvn-test:rssurl]
    - <a href="[websvn:rssurl]"><img style="border: 0;" src="[websvn:locwebsvnhttp]/templates/BlueGrey/rss.gif" width="27" height="15" alt="[lang:RSSFEED]"></a>
   [websvn-endtest]
   <p>
   
    <table cellpadding="2" cellspacing="0" width="100%" class="outline">
      <thead>
      <tr align="left" valign="middle">
        <th class="HdrClmn">[lang:PATH]</th>
        <th class="HdrClmn">[lang:VIEWLOG]</th>
        <th class="HdrClmn">[lang:DIFFPREV]</th>
        <th class="HdrClmn">[lang:BLAME]</th>
      </tr>
      </thead>
      <tbody>
      [websvn-startlisting]
      <tr class="row[websvn:rowparity]">
         <td style="border-right: 1px solid black; padding: 0 2px 0 2px;">
         	[websvn-test:modified]
         		M
         	[websvn-endtest]
         	[websvn-test:added]
         		A
         	[websvn-endtest]
         	[websvn-test:deleted]
         		D
         	[websvn-endtest]
      		<a href="[websvn:detailurl]">[websvn:file]</a>
         </td>
         <td style="border-right: 1px solid black; padding: 0 2px 0 2px;"><a href="[websvn:logurl]">[lang:NOBR][lang:VIEWLOG][lang:ENDNOBR]</a></td>
         <td style="border-right: 1px solid black; padding: 0 2px 0 2px;"><a href="[websvn:diffurl]">[lang:NOBR][lang:DIFFPREV][lang:ENDNOBR]</a></td>
         <td><a href="[websvn:blameurl]">[lang:NOBR][lang:BLAME][lang:ENDNOBR]</a></td>
      </tr>
      [websvn-endlisting]
    </tbody>

   </table>
   
   <hr>
[websvn-endtest]
