BODY
{
    COLOR: black;
    FONT-FAMILY: verdana, sans-serif;
    BACKGROUND-COLOR: white
}
HR
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px;
    HEIGHT: 1px;
    BACKGROUND-COLOR: #808080
}
A
{
    TEXT-DECORATION: none
}
A:hover
{
    TEXT-DECORATION: underline
}
.HdrClmn
{
    BORDER-RIGHT: black 1px solid;
    FONT-WEIGHT: bold;
    COLOR: white;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #809cc8
}
.HdrClmnEnd
{
    FONT-WEIGHT: bold;
    COLOR: white;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #809cc8
}

.row0
{
   background-color: #F0F0F0;
}

.row1
{
   background-color: #E0E0E0;
}

.CatClmn1
{
    BORDER-RIGHT: black 1px solid;
    BACKGROUND-COLOR: #d0d0ee
}

.CatClmn0
{
    BORDER-RIGHT: black 1px solid;
    BACKGROUND-COLOR: #e0e0ff
}

TD.diffdeleted
{
   font-size: 11px;
   background-color: #ff8888;
}

TD.diffchanged
{
   font-size: 11px;
   background-color: #ffff88;
}

TD.diffadded
{
   font-size: 11px;
   background-color: #88ff88;
}

TD.diff
{
   font-size: 11px;
   background-color: #F0F0F0;
}

DIV.newpath
{
   PADDING: 10px 10px 10px 10px;
   BACKGROUND-COLOR: #d0d0ee
}

DIV.difflines
{
}

.plusbox { float: left; clear: both; position: relative; top: -3px; font-size: 13px; font-weight: bold; width: 16px; text-indent: 0; height: 16px; color: black; background-color: #D0D0D0; text-align: center; padding: 0px 2px 0px 3px; border: black solid 1px; margin-right: 5px; }
.minusbox { float: left; clear: both; position: relative; top: -3px; font-size: 13px; font-weight: bold; width: 16px; text-indent: 0; height: 16px; color: black; background-color: #809cc8; text-align: center; padding: 0px 2px 0px 3px; border: black solid 1px; margin-right: 5px; }

.groupname { padding-left: 0px; text-indent: -25px; margin: 3px 0 3px 0;}  
.switchcontent { margin: 3px 0 0 20px; }
.project { padding: 2px; }