	<p>
	[websvn-test:flatview]
	  <table align="center" cellspacing="0" cellpadding="0" width="50%">
		<tr><th align="center" class="HdrClmnEnd">[lang:PROJECTS]</th></tr>
		  [websvn-startlisting]
		<tr><td class="row[websvn:rowparity]"><img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/repo.png" alt="[FOLDER]"> [websvn:projlink]</td>
		</tr>
	  [websvn-endlisting]
	  </table>
	[websvn-else]
	   <table align="center" cellspacing=0 cellpadding=0 width="50%">
		  <tr><th align="left" class="HdrClmnEnd">[lang:PROJECTS]</th></tr>
		  <tr>
		  <td>
		  [websvn-startlisting]
			 [websvn-test:isprojlink]
				<div class="row[websvn:rowparity]"><img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/repo.png" alt="[FOLDER]"> [websvn:listitem]</div>
			 [websvn-else]
				[websvn:listitem]
			 [websvn-endtest]
		  [websvn-endlisting]
		  </td>
		  </tr>
	   </table>
	[websvn-endtest]
	<hr />
	
