        [websvn:projects_form]
            <div id='projectSelectForm'>
                [websvn:projects_select]
                [websvn:projects_submit]
            </div>
        [websvn:projects_hidden]
        [websvn:projects_endform]
        <h2>[websvn:repname]</h2>
        [websvn-test:noaccess]
        <h2 class='err'>[lang:NOACCESS]</h2>
        [websvn-else]
        [websvn:compare_form]
            <p><label>[lang:COMPPATH] [websvn:compare_path1input]</label> <label>[lang:REV] [websvn:compare_rev1input]</label></p>
            <p><label>[lang:COMPPATH] [websvn:compare_path2input]</label> <label>[lang:REV] [websvn:compare_rev2input]</label></p>
            <p>[websvn:compare_submit]</p>
        [websvn:compare_endform]
        <hr />
        [websvn-test:success]
        <p>[lang:CONVFROM] <em>[websvn:path1] ([lang:REV] [websvn:rev1]</em> [lang:TO] <em>[websvn:path2] ([lang:REV] [websvn:rev2])</em></p>
        [websvn-endtest]
        [websvn-startlisting]

            [websvn-test:info]
        <p>[websvn:info]</p>
            [websvn-endtest]

            [websvn-test:newpath]
        <div class='newpath'>
            <h3>[websvn:newpath]</h3>
            [websvn-endtest]

            [websvn-test:difflines]
            <div class='difflines'>
                <code>[websvn:difflines]</code>
            [websvn-endtest]

            [websvn-test:diffclass]
                <code class='[websvn:diffclass]'>[websvn:line]</code>
            [websvn-endtest]

            [websvn-test:enddifflines]
            </div>
            [websvn-endtest]

            [websvn-test:endpath]
        </div>
            [websvn-endtest]

            [websvn-test:properties]
        <p>[lang:PROPCHANGES]</p>
            [websvn-endtest]

        [websvn-endlisting]
        [websvn-endtest]
