  </div>
  <div id="footer">
    <p style="padding:0; margin:0"><small>powered by: <a href="http://websvn.tigris.org">WebSVN [websvn:version]</a> &#124; Design: <a href="http://contactsheet.de/calm-theme-for-websvn.xhtml" title="Erik P&ouml;hler">Calm Theme</a>.</small></p>
  </div>
</body>
</html>
