<div id="select">[websvn:lang_form]<div>[websvn:lang_select]<span class="submit">[websvn:lang_submit]</span></div>[websvn:lang_endform]</div>
<h1>[lang:PROJECTS]</h1>

<div id="info">
<h2>About</h2>
<dl>
  <dt>Summary:</dt>
  <dd>You can customize this short message in the index.tmpl of this template in order to tell your visitors what they find in your repositories.</dd>
  <dd>Visit <a href="http://www.websvn.info">www.websvn.info</a> for more information about WebSVN.</dd>
  <dd>Learn more about Subversion at <a href="http://subversion.tigris.org">subversion.tigris.org</a>.</dd>
</dl>
</div>

<div id="wrap">
<h2 class="regular">[lang:PROJECTS]</h2>

[websvn-test:flatview]
    <dl class="projectlist">
      <dt>[lang:PROJECTS]:</dt>
      [websvn-startlisting]
      <dd>[websvn:projlink]</dd>
      [websvn-endlisting]
    </dl>
[websvn-else]
    <div class="projectlisthead">[lang:PROJECTS]:</div>
	<div class="projectlist">
	[websvn-startlisting]
	[websvn-test:isprojlink]
		<div class="project">[websvn:listitem]</div>
	[websvn-else]
		[websvn:listitem]
	[websvn-endtest]
	[websvn-endlisting]
	</div>
[websvn-endtest]
</div>
