<div id="select">[websvn:projects_form][websvn:projects_select]<span class="submit">[websvn:projects_submit]</span>[websvn:projects_endform]</div>
<h1>[lang:PROJECTS]</h1>

<div id="info">
<h2>About</h2>
<dl>
  <dt>Summary:</dd>
  <dd>You can customize this short message in the index.tmpl of this template in order to tell your visitors what they find in your repositories.</dd>
  <dd>For a detailed info read <a href="#">bla</a></dd>
  <dd>Learn more about Subversion at <a href="#">blubb</a></dd>
</dl>
</div>

<div id="wrap">
<h2 class="regular">[lang:PROJECTS]</h2>
    <dl class="projectlist">
      <dt>[lang:PROJECTS]:</dt>
      [websvn-startlisting]
      <dd>[websvn:projlink]</dd>
      [websvn-endlisting]
    </dl>
</div>
