html,body {
  background:#FFF;
  color:gray;
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-size:13px;
  line-height:1.3em;
  margin:0; padding:0;
  text-align:center;
  height: 95%;
}

#container {
position: relative;
min-height: 100%;
padding-bottom:40px;
}
* html #container
{
height: 95%;
}
#footer
{
height:40px;
position: relative;
margin:0;padding:0;
margin-top: -40px;
}

a {
  color:#000;
  text-decoration:none;
  outline: none !important;
}
a:link {
  color:#000;
  text-decoration: none;
}
a img {border:0;}

a:hover {
  background-color:khaki;
}
strong, b {
  color:gray;
  font-weight:normal;
}

#select {
  margin:1em 2% 0 2%;
  text-align:right;
  padding:10px 10px 0 10px;
  height:2em;
}
#input {
  margin:-3.7em 2% 0 2%;
  text-align:right;
  padding:10px 10px 0 10px;
  height:2em;
}
#wrap {
  margin:0 2% 0 32%;
  text-align:left;
  background:#FFF;
  width:65%;
  padding:5px 0;
}
#info {
  float:left;
  width:28%;
  margin-left:2%;
  text-align:left;
  padding:5px 0;

}
h1, h2 {
  color:gray;
  text-align:left;
  text-transform:uppercase;
  line-height:1em;
  font-weight:normal;
}
h1 {
  line-height:1.7em;
  font-size:1.7em;
  border-bottom:1px solid gray;
  padding:10px 5px 10px 5px;
  margin:-1.7em 2% 1em 2%;
  text-align:left;
  font-weight:normal;
  letter-spacing: -0.018em;
}
h1 span {
  padding-left:22px;
  background:url(images/cube_green.png) no-repeat 0 50%;
}
h1 span a, h1 span a:link {
  color:gray;
}
h2 a {
  background:#FFF ;
  padding:2px;
  margin:0;
}
h2 a:link,
h2 a:visited {
  font-weight:normal;
  letter-spacing: -0.018em;
  color: #b00
}
h2 a:hover {
  background:#f2f2f2;
}
h2 {
  font-weight:normal;
  letter-spacing: -0.018em;
  color:#666;
  padding:0 .1em;
}

#info h2 {
  border-bottom:1px solid gray;
  padding:0 5px 10px;
  margin:0;
  text-align:left;
  font-size:1.7em;
  font-weight:normal;
  letter-spacing: -0.018em;
}

#wrap h2 {
  padding:0 0 10px 0;
  margin:0;
  text-align:left;
  font-size:1.7em;
  text-transform:none;
  letter-spacing: -0.018em;
}
#wrap h2.regular {
  padding:0 5px 10px 5px;
  margin:0;
  text-align:left;
  font-size:1.7em;
  text-transform:uppercase;
  border-bottom:1px solid gray;
}
#wrap h2.regular .links {
  float:right;
  padding:0 5px 10px 5px;
  margin:0;
  text-align:right;
  font-size:13px;
  text-transform:none;
}
#wrap h2.regular .links a {
  color: #000000;
  font-weight: normal;
  letter-spacing: 0;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Forms
*/

input, select {
  padding:1px;
  margin:1px;
  font-family:'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
  border-right:1px solid #000;
  border-bottom:1px solid #000;
  border-left:1px solid #b2b2b2;
  border-top:1px solid #b2b2b2;
  background-color:cornsilk;
}

input {
  padding:2px 5px;
  font-size:1.1em;
  background-color:#FFF;
  background-image:url(images/textbg.png);
  background-repeat:repeat-x;
  background-position:0 100%;
  border:1px solid #b2b2b2;
}
input:hover,
input:active,
input:focus {
  border:1px solid #666;
  background-color:#FFF;
}
#info ul li input {
  background-color:#FFF;
  background-image:url(images/textbg.png);
  background-repeat:repeat-x;
  background-position:0 100%;
  border:1px solid #b2b2b2;
}
span.submit input,
#info span.submit input,
#info p.submit input,
#wrap p.submit input {
  background-image:url(images/submitbg.png);
}
#info table tbody tr td input {
  font-size:1em;
  width:92%;
  background:#FFF url(images/textbg.png) repeat-x 0 0;
}
#info table tbody tr td.revcomp input {
  width:50px;
}
#info table tbody tr td.all input {
  width:auto;
}
select {
  padding:2px 2px 2px 21px;
  border:1px solid #cccccc;
  background-color:#FFF;
  background-image:url(images/cube_green.png);
  background-repeat:no-repeat;
  background-position:2px 50%;
}

select:hover,
select:active,
select:focus {
  border:1px solid #666;
  background-color:beige;
  background-repeat:no-repeat;
  background-position:2px 50%;
  background-image:url(images/cube_green.png);
}
option,
option:hover,
option:focus,
option:active {
  padding-left:25px;
  background-image:url(images/cube_green.png);
  background-repeat:no-repeat;
  background-position:2px 50%;
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Left Column
*/

/* index elements */
dl.projectlist dd a {
  background-image:url(images/cube_green.png);
  background-repeat:no-repeat;
  background-position:2px 50%;
  padding-left:22px;
}
.projectlisthead {
  padding: 13px 0 5px;
}
.projectlist .groupname {
  padding:3px 0 5px;
  border-top:1px dotted gray;
}
.showstate {
  padding: 0 4px 0 2px;
}
.projectlist .project {
  background-image:url(images/cube_green.png);
  background-repeat:no-repeat;
  background-position:12px 50%;
  padding:3px 0 5px 32px;
  border-top:1px dotted lightgray;
}

#info dl {
  margin-left:0;
}
#info dt, #wrap dt {
  margin:0;
  padding:0 0 5px 0;
}
#info dd, #wrap dd {
  margin:0;
  padding:3px 0 5px 10px;
  border-top:1px dotted lightgray;
}
dd.curdir {
  padding:2px 0;
  margin:5px 0 0 0;
}
dd.curdir pre {
  font-family: 'Trebuchet MS', verdana, sans-serif;
  background:url(images/folder.png) no-repeat 2px 50%;
  margin:2px 2px 0 -2px;
  padding:2px 2px 2px 22px;
  display:block;
}
dd.curdir pre {
  color:#545400;
  font-size:1em;
}
#info ul {
  list-style-type:none;
  padding:0 0;
  margin:0;
}
#info ul li {
  padding:5px;
  margin:3px 0;
  border-bottom:1px dotted lightgray;
  overflow:hidden;
}

.mod br, .new br {
  display:none;
}
li.mod a, li.new a, #info li.del {
  padding:5px 5px 5px 26px;
  margin:2px 0 2px -2px;
  background-position:5px 50%;
  background-repeat:no-repeat;
}
a.modified, a.added, a.deleted {
  padding-left: 26px;
  background-position:5px 50%;
  background-repeat:no-repeat;
}
a.modified {
  background-image:url(images/page_white_edit.png);
}
a.added {
  background-image:url(images/page_white_add.png);
}
a.deleted {
  background-image:url(images/page_white_delete.png);
}
li.mod a {
  display:block;
  color:#545400;
  border:1px solid #f2f2c7;
  background-color:lightyellow;
  background-image:url(images/page_white_edit.png);
}
li.mod a:hover {
  color:#000;
  border:1px solid darkkhaki;
  background-color:khaki;
}
li.new a {
  display:block;
  color:#545400;
  border:1px solid #d5f2c7;
  background-color:#f2ffd9;
  background-image:url(images/page_white_add.png);
}
li.new a:hover {
  color:#000;
  border:1px solid #669900;
  background-color:yellowgreen;
}

#info ul li.del {
  display:block;
  color:rosybrown;
  border:1px solid rosybrown;
  padding:5px 5px 5px 26px;
  margin:5px;
  background-color:papayawhip;
  background-image:url(images/page_white_delete.png);
  background-position:5px 5px;
  text-align:left;
}
#info ul li a {
  overflow:hidden;
}
/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++ main content: Directories
*/

table {
  border-collapse:collapse;
  width:100%;
}
tbody tr td {
  padding:0;
  text-align:left;
}
thead tr {
  background:#4d4d4d;
}
thead tr th {
  background:#4d4d4d;
  border-bottom:2px solid #000;
  border-top:2px solid #808080;
  border-right:1px solid #808080;
  color:#FFF;
  margin:3px 2px;
  padding:5px 5px 5px 10px;
  text-align:center;
}
thead tr th.path {
  text-align:left;
  width:50%;
}
thead tr th.collno,
thead tr th.colrev,
thead tr th.colauth {
  width:6%;
}
thead tr th.colcode {
  width:73%;
}
tbody tr td.code {
  text-align:left;
}
tbody tr td.code pre {
  background-color:#f8f8f8;
  border:1px solid #f0f0f0;
  padding-left:3px;
}
tbody tr:hover td.code pre {
  background-color:#e8e8e8;
  border:1px solid #cccccc;
}
tbody tr:hover td.code {
  background-color:#FFF;
}
tbody tr td.path,
tbody tr th.path {
  text-align:left;
}
tbody tr td.path {
  padding:0;
}
tbody tr:hover {
  background-color:#e8e8e8;
}
tbody tr.row0 td {
  background-color:#f0f0f0;
}
tbody tr.row1 td {
  background-color:#f8f8f8;
}
tbody tr.row0:hover td, tbody tr.row1:hover td {
  background-color:#e8e8e8;
}
span.listing a, a.listing {
  padding-left:22px;
  background-image:url(images/sitemap_color.png);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
span.detail a {
  padding-left:22px;
  background-image:url(images/file.png);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
span.changes a {
  padding-left:22px;
  background-image:url(images/page_white_edit.png);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
span.compact a {
  padding-left:22px;
  background-image:url(images/arrow_in.png);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
span.full a {
  padding-left:22px;
  background-image:url(images/arrow_out.png);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
span.ignorews a {
  padding-left:22px;
  background-image:url(images/pilcrow_delete.png);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
span.regardws a {
  padding-left:22px;
  background-image:url(images/pilcrow.png);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
span.log a,
td.log a {
  padding-left:22px;
  background-image:url(images/log.png);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
span.blame a,
td.blame a {
  padding-left:22px;
  background-image:url(images/blame.png);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
li.compress a,
span.compress a,
tbody tr td.compress a:link,
tbody tr td.compress a:visited,
tbody tr td.compress a:link {
  padding-left:22px;
  background-image:url(images/compress.png);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
li.feed a,
span.feed a,
tbody tr td.feed a,
tbody tr td.feed a:link,
tbody tr td.feed a:visited,
tbody tr td.feed a:link {
  padding-left:22px;
  background-image:url(images/xml.gif);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
.goyoungest a {
  color:#e25f53;
  padding-left:22px;
  background-image:url(images/exclamation.png);
  background-repeat:no-repeat;
  background-position:3px 50%;
}
.goyoungest a:hover {
  background-color:#fad4c8;
  color:#000;
}
td.code {
  padding:2px 2px 0 2px;
}
.icon {
  vertical-align: middle;
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ File, Blame, Diff
*/
h2.path {
  text-transform:none;
}
div.listing {
  overflow:auto;
  border:1px solid lightgray;
  text-align:left;
  margin:0 2%;
  padding:3px;
  padding-right:20px;
  padding-bottom:20px;
  background:#f8f8f8;
}
pre a, td.code pre a {
  color:blue;
  font-style:italic;
}


code, pre {
  font-family:'Consolas',monospace,sans-serif;
  text-align:left;
  margin:0;
}
.new a {color:green}
.del a {color:red}
.toggleup a:link,
.toggleup a:visited,
.toggleup a:focus {
  padding-left:22px;
  background:url(images/toggleup.png) no-repeat 2px 50%;
}
.toggleup a:hover {
  background:khaki url(images/toggleup.png) no-repeat 2px 50%;
}
.toggledown a:link,
.toggledown a:visited,
.toggledown a:focus {
  padding-left:22px;
  background:url(images/toggledown.png) no-repeat 2px 50%;
}
.toggledown a:hover {
  background:khaki url(images/toggledown.png) no-repeat 2px 50%;
}
.diff a:link,
.diff a:visited,
.diff a:focus {
  padding-left:22px;
  background:url(images/diff.png) no-repeat 2px 50%;
}
.diff a:hover {
  background:khaki url(images/diff.png) no-repeat 2px 50%;
}
tbody tr.diffcode td {
  text-align:left;
}
tbody tr.diffcode td.row1 {
  padding: 3px;
}
tbody tr.diffcode td.row1 strong {
  font-weight: bold;
}
tbody tr.diffcode td code, tbody tr.diffcode td pre {
  display:block;
  height:100%;
  padding-left:22px;
}
tbody tr:hover td.diff, tbody tr.diffcode:hover td pre {
  background-color:#e8e8e8;
  border:1px solid #cccccc;
}
tbody tr.diffcode:hover td {
  background-color:#FFF;
}
tr.diffcode td {
  color:#000;
  padding:2px 2px 0 2px;
}

div.newpath, div.difflines {
  color:#000;
  text-align:center;
}
div.newpath {
  padding:5px 5px 5px 5px;
  margin:10px 0 30px 0;
  background:#FFF;
  border:1px solid #e1e1e1;
}
div.newpath strong {
  display:block;
  color:#FFF;
  background:#4d4d4d;
  font-weight:bold;
  padding:5px;
  margin-bottom:3px;
  border-bottom:2px solid #000;
  border-top:2px solid #808080;
}
/* compare table */
table.diff {
  margin-top:5px;
  margin-bottom:5px;
  border:1px solid #f1f1f1;
  padding:0 2px 2px 2px;
  margin:0 1px;
}
table.diff tbody tr {
  padding:4px 4px 0 4px;
  margin:4px 4px 0 4px;
}
table.diff tbody tr td {
  display:block;
  text-align:left;
  padding:2px;
  margin:2px 2px 0 2px;
  border:1px solid #FFF;
  padding-left:22px;
  background-color:#f8f8f8;
  border:1px solid #f0f0f0;
}
table.diff tbody tr:hover {
  background:#FFF;
}
.newpath td.diff, td.diff pre {
  border:1px solid #f0f0f0;
  background-color:#f8f8f8;
  background-position:2px 50%;
  background-repeat:no-repeat;
}
.newpath td.diffdeleted, td.diffdeleted pre {
  border:1px solid #e8d4bc;
  background-color:#f8e4cc;
  background-image:url(images/bullet_delete.png);
  background-position:2px 50%;
  background-repeat:no-repeat;
}
.newpath tr:hover td.diffdeleted, tr.diffcode:hover td.diffdeleted pre {
  border-color:#bb9977;
  background-color:#ffccaa;
}
.newpath td.diffadded, td.diffadded pre {
  border:1px solid #cdf0cd;
  background-color:#ddffdd;
  background-image:url(images/bullet_add.png);
  background-repeat:no-repeat;
  background-position:2px 50%;
}
.newpath tr:hover td.diffadded, tr.diffcode:hover td.diffadded pre {
  border-color:#88bb88;
  background-color:#bbffbb;
}
.newpath td.diffchanged, td.diffchanged pre {
  border:1px solid #f0f0bc;
  background-color:#ffffcc;
  background-image:url(images/bullet_yellow.png);
  background-repeat:no-repeat;
  background-position:2px 50%;
}
.newpath tr:hover td.diffchanged, tr.diffcode:hover td.diffchanged pre {
  border-color:#bbbb55;
  background-color:#ffff99;
}

code {
  white-space: pre;
}
code {
  white-space: pre-wrap;
}

/* Log View */

table tbody tr td.logmsg {
  text-align:left;
  padding: 3px 0 3px 3px;
  vertical-align:middle;
}

/* sidebar form without css-bg-colors */
#info table tbody tr td,
#info table tbody tr th {
  background:#FFF;
  padding:0;
  margin:0;
  font-weight:normal;
}
#info table tbody tr:hover td,
#info table tbody tr:hover th {
  background:#FFF;
  padding:0;
  margin:0;
}
/* inputs see -> forms */

div.blame-popup {
  position: absolute;
  text-align: left;
  background-color: white;
  padding: 5px;
  border:1px solid darkkhaki;
  background-color: khaki;
}

div.blame-popup .date {
  font-weight: bold;
}
