    <div id="info">
      <h2>About</h2>
      <dl>
        <dd>
          You can customize this message in 'templates/calm/user_greeting.tmpl' to tell your
          visitors what they'll find in your repositories.
        </dd>
        <dd>
          Visit <a href="https://websvnphp.github.io">websvnphp.github.io</a> for more information
          about WebSVN.
        </dd>
        <dd>
          Learn more about Apache Subversion at <a href="https://subversion.apache.org">subversion.apache.org</a>.
        </dd>
      </dl>
    </div>
