<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td align="left"><h1>[websvn:repname]</h1></td>
    <td align="right"><b>[lang:PROJECTS]:</b> [websvn:projects_form][websvn:projects_select][websvn:projects_submit][websvn:projects_hidden][websvn:projects_endform]</td>
  </tr>
</table>

[websvn-test:noaccess]
   [lang:NOACCESS]
[websvn-else]
   <table cellpadding="2px" cellspacing="0px" class="outline">
   <tr><th colspan=2 class="HdrClmnEnd">[lang:REVINFO]</th></tr>
   <tr><td class="CatClmn1" valign="top">[lang:CURDIR]:</td><td class="row1">[websvn:path]</td></tr>
   <tr><td class="CatClmn0">[lang:REV] &amp; [lang:AUTHOR]:</td><td class="row0">[lang:REV] [websvn:rev] - [websvn:author]
   [websvn-test:goyoungestlink]
    - [websvn:goyoungestlink]
   [websvn-endtest]
   </td></tr>
   [websvn-test:restricted]
   [websvn-else]
      <tr><td class="CatClmn1" valign="top">[lang:LASTMOD]:</td><td class="row1">[lang:REV] [websvn:lastchangedrev] - [websvn:date]</td></tr>
      <tr><td class="CatClmn0" valign="top">[lang:LOGMSG]:</td><td class="row0">[websvn:log]</td></tr>
      [websvn-test:hidechanges]
         <tr><td class="CatClmn1" valign="top">&nbsp;</td><td class="row1">([websvn:showchangeslink])</td></tr>
      [websvn-else]
      [websvn:showchangeslink]
         <tr><td class="CatClmn1" valign="top">&nbsp;</td><td class="row1">([websvn:hidechangeslink])</td></tr>
         [websvn-test:changedfilesbr]
         <tr><td class="CatClmn0" valign="top">[lang:CHANGEDFILES]:</td><td class="row0">[websvn:changedfilesbr]</td></tr>
         [websvn-endtest]
         [websvn-test:newfilesbr]
            [websvn-test:changedfilesbr]
               <tr><td class="CatClmn1" valign="top">[lang:NEWFILES]:</td><td class="row1">[websvn:newfilesbr]</td></tr>
            [websvn-else]
               <tr><td class="CatClmn0" valign="top">[lang:NEWFILES]:</td><td class="row0">[websvn:newfilesbr]</td></tr>
            [websvn-endtest]
         [websvn-endtest]
         [websvn-test:deletedfilesbr]
            [websvn-test:changedfilesbr]
               [websvn-test:newfilesbr]
                  <tr><td class="CatClmn0" valign="top">[lang:DELETEDFILES]:</td><td class="row0">[websvn:deletedfilesbr]</td></tr>
                  [websvn-else]
                  <tr><td class="CatClmn1" valign="top">[lang:DELETEDFILES]:</td><td class="row1">[websvn:deletedfilesbr]</td></tr>
               [websvn-endtest]
            [websvn-else]
               [websvn-test:newfilesbr]
                  <tr><td class="CatClmn1" valign="top">[lang:DELETEDFILES]:</td><td class="row1">[websvn:deletedfilesbr]</td></tr>
                  [websvn-else]
                  <tr><td class="CatClmn0" valign="top">[lang:DELETEDFILES]:</td><td class="row0">[websvn:deletedfilesbr]</td></tr>
               [websvn-endtest]
            [websvn-endtest]
         [websvn-endtest]      
      [websvn-endtest]
   [websvn-endtest]
   </table>
   
   [websvn-defineicons]
   dir=<img align="middle" valign="center" src="[websvn:locwebsvnhttp]/templates/BlueGrey/folder.png" alt="[FOLDER]">
   diropen=<img align="middle" valign="center" src="[websvn:locwebsvnhttp]/templates/BlueGrey/folder.png" alt="[OPEN-FOLDER]">
   *=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/file.png" alt="[FILE]">
   .c=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filec.png" alt="[C-FILE]">
   .cpp=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filecpp.png" alt="[CPP-FILE]">
   .h=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/fileh.png" alt="[H-FILE]">
   .html=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filehtml.png" alt="[HTML-FILE]">
   .java=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filejava.png" alt="[JAVA-FILE]">
   .m=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filem.png" alt="[M-FILE]">
   .py=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filepy.png" alt="[PY-FILE]">
   .s=<img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/files.png" alt="[S-FILE]">
   
   i-node=<img align="middle" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/i-node.png" alt="[NODE]">
   t-node=<img align="middle" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/t-node.png" alt="[NODE]">
   l-node=<img align="middle" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/l-node.png" alt="[NODE]">
   e-node=<img align="middle" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/e-node.png" alt="[NODE]">
   [websvn-enddefineicons]
   
   <p><hr>
   [websvn:curdirlinks] - [websvn:curdirloglink]
   [websvn-test:curdircomplink]
    - [websvn:curdircomplink]
   [websvn-endtest]    
   [websvn-test:curdirdllink]
    - [websvn:curdirdllink]
   [websvn-endtest]
   [websvn-test:curdirrsslink]
    - [websvn:curdirrssanchor]<img style="border: 0;" src="[websvn:locwebsvnhttp]/templates/BlueGrey/xml.gif" width="36" height="14" alt="[lang:RSSFEED]"></a>
   [websvn-endtest]
   <p>
   [websvn:compare_form]
      <table cellpadding="2px" cellspacing="0px" width="100%" class="outline">
         <tr>
            <th class="HdrClmn" width="100%"><b>[lang:PATH]</b></th>
            [websvn-test:allowdownload]
               [websvn-test:curdirrsslink]
                  <th class="HdrClmn"><b>[lang:NOBR][lang:LOG][lang:ENDNOBR]</b></th>
                  <th class="HdrClmn"><b>[lang:TARBALL]</b></th>
                  <th class="HdrClmnEnd"><b>RSS</b></th>
               [websvn-else]
                  <th class="HdrClmn"><b>[lang:NOBR][lang:LOG][lang:ENDNOBR]</b></th>
                  <th class="HdrClmnEnd"><b>[lang:TARBALL]</b></th>
               [websvn-endtest]
            [websvn-else]
               [websvn-test:curdirrsslink]
                  <th class="HdrClmn"><b>[lang:LOG]</b></th>
                  <th class="HdrClmnEnd"><b>RSS</b></th>
               [websvn-else]
                  <th class="HdrClmnEnd"><b>[lang:NOBR][lang:LOG][lang:ENDNOBR]</b></th>
               [websvn-endtest]
            [websvn-endtest]
         </tr>
         [websvn-startlisting]
         <tr>
            <td valign="middle" style="border-right: 1px solid black; padding: 0 2px 0 2px;" class="row[websvn:rowparity]">
               [websvn:compare_box]
               [websvn-treenode]
               [websvn-icon]
               [websvn:filelink]
            </td>
            [websvn-test:allowdownload]
               [websvn-test:curdirrsslink]
                  <td style="border-right: 1px solid black; padding: 0 2px 0 2px;" class="row[websvn:rowparity]">[lang:NOBR][websvn:fileviewloglink][lang:ENDNOBR]</td>
                  <td style="border-right: 1px solid black; padding: 0 2px 0 2px;" class="row[websvn:rowparity]">[websvn:fileviewdllink]</td>
                  <td style="padding: 0 2px 0 2px;" class="row[websvn:rowparity]">[websvn:rssanchor]<img style="border: 0;" src="[websvn:locwebsvnhttp]/templates/BlueGrey/xml.gif" width="36" height="14" alt="[lang:RSSFEED]"></a></td>
               [websvn-else]
                  <td style="border-right: 1px solid black; padding: 0 2px 0 2px;" class="row[websvn:rowparity]">[lang:NOBR][websvn:fileviewloglink][lang:ENDNOBR]</td>
                  <td style="padding: 0 2px 0 2px;" class="row[websvn:rowparity]">[websvn:fileviewdllink]</td>
               [websvn-endtest]
            [websvn-else]
               [websvn-test:curdirrsslink]
                  <td style="border-right: 1px solid black; padding: 0 2px 0 2px;" class="row[websvn:rowparity]">[lang:NOBR][websvn:fileviewloglink][lang:ENDNOBR]</td>
                  <td style="padding: 0 2px 0 2px;" class="row[websvn:rowparity]">[websvn:rssanchor]<img style="border: 0;" src="[websvn:locwebsvnhttp]/templates/BlueGrey/xml.gif" width="36" height="14" alt="[lang:RSSFEED]"></a></td>
               [websvn-else]
                  <td style="padding: 0 2px 0 2px;" class="row[websvn:rowparity]">[lang:NOBR][websvn:fileviewloglink][lang:ENDNOBR]</td>
               [websvn-endtest]
            [websvn-endtest]   
         </tr>
         [websvn-endlisting]
      </table>
   <p>
   [websvn:compare_submit]  
   [websvn:compare_endform]
   <hr>
[websvn-endtest]
