
body
{
   font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
   background-color: white;
   margin: 20px;
   padding: 0px;
   font-size: 76%;
}

H1
{ 
   color: #8c0000;
   font-size: 30px;
   font-weight: normal;
   font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
   text-decoration: none;
}

a:link { color: black;
   font-size: 76%;
}
a:visited { color: black;
   font-size: 76%;
}

HR { color: #8c0000; background-color: #8c0000  }

.highlight { color: #8c0000; font-style: italic;  }

TABLE.bordered, TABLE.outlined, TABLE.blame
{
   border-collapse: collapse;
   border: solid 2px #8c0000;
}

.bordered TD, .bordered TH
{
   border: solid 2px #8c0000;
}

.outlined TH, .blame TH
{
   padding: 5px 5px 5px 5px;
   font-weight: bold;
   border: solid 2px #8c0000;
}

.outlined TD, .blame TD
{
   padding: 1px 5px 1px 5px;
   border-right: solid 2px #8c0000;
   border-bottom: solid 1px #F0F0F0;
}

.blame TD
{
   font-size: 11px;
}

.blame TD A 
{
   font-size: 100%;
}

TD.diffdeleted
{
   font-size: 11px;
   background-color: red;
}

TD.diffchanged
{
   font-size: 11px;
   background-color: yellow;
}

TD.diffadded
{
   font-size: 11px;
   background-color: green;
}

TD.diff
{
   font-size: 11px;
   background-color: #D0D0D0;
}

TABLE.diff
{
   border-collapse: collapse;
}

DIV.newpath
{
   padding: 5px 5px 5px 5px;
   border: solid 2px #8c0000;
}

.plusbox { float: left; clear: both; position: relative; top: -3px; font-size: 13px; font-weight: bold; width: 16px; text-indent: 0; height: 16px; color: black; text-align: center; padding: 0px 2px 0px 3px; border: black solid 1px; margin-right: 5px; }
.minusbox { float: left; clear: both; position: relative; top: -3px; font-size: 13px; font-weight: bold; width: 16px; text-indent: 0; height: 16px; color: black; background-color: #8c0000; text-align: center; padding: 0px 2px 0px 3px; border: black solid 1px; margin-right: 5px; }

.groupname { padding-left: 0px; text-indent: -25px; margin: 8px 0 3px 0;}  
.switchcontent { margin: 3px 0 0 20px; }

code { white-space: pre; white-space: pre-wrap; }

