
<table border=0 cellspacing=0 cellpadding=0 align="center">
   <tr>
      <td align="center">
         <br><h2>[lang:PROJECTS]:</h2>
         <table border=0>
            <tr><td><b><ul>
               [websvn-startlisting]
                  <li>[websvn:projlink]</li>
               [websvn-endlisting]
            </ul></b></td></tr>
         </table>
      </td>
   </tr>
</table>
  
