<html>
   <head>
		<meta http-equiv="content-type" content="text/html;charset=[websvn:charset]">
	   <link href="[websvn:locwebsvnhttp]/templates/standard/styles.css" rel="stylesheet" media="screen">
      <title>WebSVN</title>
   </head>
   <body>
      <center>
         <h1>[lang:SERVER]</h1>
      </center>
      <hr>
      <p>