<p>
<table align="center" border=0 cellspacing=0 cellpadding=0 width="50%">
   <tr><th align="left" colspan=2 class="HdrClmnEnd">[lang:PROJECTS]</th></tr>
   [websvn-startlisting]
      <tr><td class="row[websvn:rowparity]"><img align="middle" src="[websvn:locwebsvnhttp]/templates/BlueGrey/repo.png" alt="[FOLDER]"> [websvn:projlink]</td></tr>
   [websvn-endlisting]
</table>
<hr>