    <h1 style="float: left;">[websvn:repname] - [lang:REV] [websvn:rev]</h1>
    <div style="float: right;">[websvn:projects_form]<b>[lang:PROJECTS]:</b> [websvn:projects_select][websvn:projects_submit][websvn:projects_endform]</div>
    <div class="clearer">&nbsp;</div>
[websvn-test:error]
    <div id="error">[websvn:error]</div>
[websvn-else]
    <div style="float: right;">[websvn:revision_form]<b>[lang:REV]:</b>[websvn:revision_input][websvn:revision_submit][websvn:revision_endform]</div>
    [websvn-test:warning]
    [websvn-else]
    <table cellpadding="2" cellspacing="0" class="outline">
      <thead>
      <tr><th colspan="2">[lang:REVINFO]</th></tr>
      </thead>
      <tr class="row0"><th>[lang:CURDIR]:</th><td>[websvn:path]</td></tr>
      [websvn-test:goyoungestlink]
      <tr class="row1"><th>[lang:REV] &amp; [lang:AUTHOR]:</th><td>[lang:REV] [websvn:rev] - [websvn:author]- [websvn:goyoungestlink]</td></tr>
      [websvn-else]
      <tr class="row1"><th>[lang:REV] &amp; [lang:AUTHOR]:</th><td>[lang:REV] [websvn:rev] - [websvn:author]</td></tr>
      [websvn-endtest]
      [websvn-test:restricted]
      [websvn-else]
      <tr class="row0"><th>[lang:LASTMOD]:</th><td>[lang:REV] [websvn:lastchangedrev] - [websvn:date]</td></tr>
      <tr class="row1"><th>[lang:LOGMSG]:</th><td>[websvn:log]</td></tr>
      [websvn-endtest]
    </table>
    [websvn-endtest]
    <div id="nav">
      [websvn:curdirlinks]<br/>
      [websvn:loglink]
      - [websvn:listinglink]
      [websvn-test:comparelink]
      - [websvn:comparelink]
      [websvn-endtest]    
      [websvn-test:downloadurl]
      - <a href="[websvn:downloadurl]" rel="nofollow">[lang:DOWNLOAD]</a>
      [websvn-endtest]
      [websvn-test:rssurl]
      - <a href="[websvn:rssurl]"><img src="[websvn:locwebsvnhttp]/templates/BlueGrey/images/rss.gif" width="27" height="15" alt="[lang:RSSFEED]"/></a>
      [websvn-endtest]
    </div>
  [websvn-test:warning]
    <div id="warning">[websvn:warning]</div>
  [websvn-else]
    <table cellpadding="2" cellspacing="0" width="100%" class="outline">
      <thead>
      <tr>
        <th>[lang:PATH]</th>
        <th>[lang:VIEWLOG]</th>
        <th>[lang:DIFF]</th>
        <th>[lang:BLAME]</th>
      </tr>
      </thead>
      <tbody>
      [websvn-startlisting]
      <tr class="row[websvn:rowparity]">
        [websvn-test:modified]
         <td>M <a href="[websvn:detailurl]">[websvn:path]</a></td>
        [websvn-endtest]
        [websvn-test:added]
         <td>A <a href="[websvn:detailurl]">[websvn:path]</a></td>
        [websvn-endtest]
        [websvn-test:deleted]
         <td>D <a href="[websvn:detailurl]">[websvn:path]</a></td>
        [websvn-endtest]
        <td><a href="[websvn:logurl]">[lang:LOG]</a></td>
        [websvn-test:diffurl]
        <td><a href="[websvn:diffurl]">[lang:NOBR][lang:DIFF][lang:ENDNOBR]</a></td>
        [websvn-else]
        <td></td>
        [websvn-endtest]
        [websvn-test:blameurl]
        <td><a href="[websvn:blameurl]">[lang:BLAME]</a></td>
        [websvn-else]
        <td></td>
        [websvn-endtest]
      </tr>
      [websvn-endlisting]
      </tbody>
    </table>
  [websvn-endtest]
[websvn-endtest]
