<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <link rel='stylesheet' type='text/css' media='screen' href='[websvn:locwebsvnhttp]/templates/StandardNG/styles.css' />
        <script type='application/javascript' src='[websvn:locwebsvnhttp]/templates/Standard/collapse.js'></script>
        <script type='application/javascript'>
            <![CDATA[
            function checkCB(chBox) {
                count = 0;
                first = null;
                f = chBox.form;
                for (i = 0; i < f.elements.length; i++) {
                    if (f.elements[i].type == 'checkbox' && f.elements[i].checked) {
                        if (first == null && f.elements[i] != chBox) {
                            first = f.elements[i];
                        }
                        count++;
                    }

                    if (count > 2) {
                        first.checked = false;
                        count--;
                    }

                    [websvn-test:opentree]
                    expandonload = true;
                    [websvn-endtest]
                }
            }
            ]]>
        </script>

        <title>
            WebSVN
            [websvn-test:repname]
                - [websvn:repname]
            [websvn-endtest]
            [websvn-test:action]
                - [websvn:action]
            [websvn-endtest]
            [websvn-test:rev2]
                [websvn-test:path2]
                    - [websvn:safepath1] [lang:REV] [websvn:rev1] [lang:AND] [websvn:safepath2] [lang:REV] [websvn:rev2]
                [websvn-else]
                    - [lang:REV] [websvn:rev1] [lang:AND] [websvn:rev2]
                [websvn-endtest]
            [websvn-else]
                [websvn-test:rev]
                    - [lang:REV] [websvn:rev]
                [websvn-endtest]
            [websvn-endtest]
            [websvn-test:path]
                - [websvn:safepath]
            [websvn-endtest]
        </title>

        [websvn-test:curdirrsslink]
        <link rel='alternate' type='application/rss+xml' title='WebSVN RSS' href='[websvn:curdirrsshref]' />
        [websvn-endtest]

        <!--[if IE]>
        <script type='text/javascript' src='[websvn:locwebsvnhttp]/templates/StandardNG/ie7/ie7-standard-p.js'></script>
        <[end if]-->

    </head>
    <body>
        <div id='header'>
            <h1>[lang:SERVER]</h1>
            <div id='formSelect'>
                [websvn:lang_form]
                [websvn:lang_select]
                [websvn:lang_submit]
                [websvn:lang_endform]
            </div>
        </div>

        <hr />
        <!-- end of header.tmpl -->
