<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td align="left" rowspan="2"><h1>[websvn:repname]</h1></td>
    <td align="right"><b>[lang:PROJECTS]:</b> [websvn:projects_form][websvn:projects_select][websvn:projects_submit][websvn:projects_hidden][websvn:projects_endform]</td>
  </tr>
  <tr>
    <td align="right"><b>[lang:REV]:</b>[websvn:revision_form][websvn:revision_input][websvn:revision_submit][websvn:revision_hidden][websvn:revision_endform]</td>
  </tr>
</table>

[websvn-test:noaccess]
   [lang:NOACCESS]
[websvn-else]
   <table cellpadding="2" cellspacing="0" class="outline">
   <tr><th colspan=2 class="HdrClmnEnd">[lang:REVINFO]</th></tr>
   <tr><td class="CatClmn1" valign="top">[lang:CURDIR]:</td><td class="row1">[websvn:path]</td></tr>
   <tr><td class="CatClmn0">[lang:REV] &amp; [lang:AUTHOR]:</td><td class="row0">[lang:REV] [websvn:rev] - [websvn:author]
   [websvn-test:goyoungesturl]
    - <a href="[websvn:goyoungesturl]">[lang:GOYOUNGEST]</a>
   [websvn-endtest]
   </td></tr>
   [websvn-test:restricted]
   [websvn-else]
      <tr><td class="CatClmn1" valign="top">[lang:LASTMOD]:</td><td class="row1">[lang:REV] [websvn:lastchangedrev] - [websvn:date]</td></tr>
      <tr><td class="CatClmn0" valign="top">[lang:LOGMSG]:</td><td class="row0">[websvn:log]</td></tr>
   [websvn-endtest]
   </table>
   
   [websvn-defineicons]
   dir=<img class="icon" src="[websvn:locwebsvnhttp]/templates/BlueGrey/folder.png" alt="[FOLDER]">
   diropen=<img class="icon" src="[websvn:locwebsvnhttp]/templates/BlueGrey/folder.png" alt="[OPEN-FOLDER]">
   *=<img class="icon" src="[websvn:locwebsvnhttp]/templates/BlueGrey/file.png" alt="[FILE]">
   .c=<img class="icon" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filec.png" alt="[C-FILE]">
   .cpp=<img class="icon" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filecpp.png" alt="[CPP-FILE]">
   .h=<img class="icon" src="[websvn:locwebsvnhttp]/templates/BlueGrey/fileh.png" alt="[H-FILE]">
   .html=<img class="icon" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filehtml.png" alt="[HTML-FILE]">
   .java=<img class="icon" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filejava.png" alt="[JAVA-FILE]">
   .m=<img class="icon" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filem.png" alt="[M-FILE]">
   .py=<img class="icon" src="[websvn:locwebsvnhttp]/templates/BlueGrey/filepy.png" alt="[PY-FILE]">
   .s=<img class="icon" src="[websvn:locwebsvnhttp]/templates/BlueGrey/files.png" alt="[S-FILE]">
   
   i-node=<img class="icon" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/i-node.png" alt="[NODE]">
   t-node=<img class="icon" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/t-node.png" alt="[NODE]">
   l-node=<img class="icon" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/l-node.png" alt="[NODE]">
   e-node=<img class="icon" border="0" width="24" height="22" src="[websvn:locwebsvnhttp]/templates/BlueGrey/e-node.png" alt="[NODE]">
   [websvn-enddefineicons]
   
   <p><hr>
   [websvn:curdirlinks]
   
   - <a href="[websvn:changesurl]">[lang:CHANGES]</a>
   - <a href="[websvn:logurl]">[lang:VIEWLOG]</a>
    
   [websvn-test:curdircomplink]
    - [websvn:curdircomplink]
   [websvn-endtest]    
   [websvn-test:downloadurl]
    - <a href="[websvn:downloadurl]" rel="nofollow">[lang:TARBALL]</a>
   [websvn-endtest]
   [websvn-test:rssurl]
    - <a href="[websvn:rssurl]"><img style="border: 0;" src="[websvn:locwebsvnhttp]/templates/BlueGrey/rss.gif" width="27" height="15" alt="[lang:RSSFEED]"></a>
   [websvn-endtest]
   <p>
   [websvn:compare_form]
      <table cellpadding="2" cellspacing="0" width="100%" class="outline">
         <tr>
            <th class="HdrClmn" width="60%"><b>[lang:PATH]</b></th>
            [websvn-test:allowdownload]
               [websvn-test:rssurl]
                  <th class="HdrClmn"><b>[lang:NOBR][lang:LOG][lang:ENDNOBR]</b></th>
                  <th class="HdrClmn"><b>[lang:TARBALL]</b></th>
                  <th class="HdrClmnEnd"><b>RSS</b></th>
               [websvn-else]
                  <th class="HdrClmn"><b>[lang:NOBR][lang:LOG][lang:ENDNOBR]</b></th>
                  <th class="HdrClmnEnd"><b>[lang:TARBALL]</b></th>
               [websvn-endtest]
            [websvn-else]
               [websvn-test:rssurl]
                  <th class="HdrClmn"><b>[lang:LOG]</b></th>
                  <th class="HdrClmnEnd"><b>RSS</b></th>
               [websvn-else]
                  <th class="HdrClmnEnd"><b>[lang:NOBR][lang:LOG][lang:ENDNOBR]</b></th>
               [websvn-endtest]
            [websvn-endtest]
         </tr>
         [websvn-startlisting]
         <tr>
            <td valign="middle" style="border-right: 1px solid black; padding: 0 2px 0 2px;" class="row[websvn:rowparity]">
               [websvn:compare_box]
               [websvn-treenode]
               [websvn-icon]
               [websvn:filelink]
            </td>
            [websvn-test:allowdownload]
               <td style="border-right: 1px solid black; padding: 0 2px 0 2px;" class="row[websvn:rowparity]">[lang:NOBR]<a href="[websvn:logurl]">[lang:VIEWLOG]</a>[lang:ENDNOBR]</td>
               [websvn-test:rssurl]
                  <td style="border-right: 1px solid black; padding: 0 2px 0 2px;" class="row[websvn:rowparity]">
                     [websvn-test:downloadurl]
                        <a href="[websvn:downloadurl]" rel="nofollow">[lang:TARBALL]</a>
                     [websvn-endtest]
                     [websvn-test:downloadplainurl]
                       <a href="[websvn:downloadplainurl]" rel="nofollow">[lang:DOWNLOAD]</a>
                     [websvn-endtest]
                  </td>
                  <td style="padding: 0 2px 0 2px;" class="row[websvn:rowparity]"><a href="[websvn:rssurl]"><img style="border: 0;" src="[websvn:locwebsvnhttp]/templates/BlueGrey/rss.gif" width="27" height="15" alt="[lang:RSSFEED]"></a></td>
               [websvn-else]
                  <td style="padding: 0 2px 0 2px;" class="row[websvn:rowparity]">
                     [websvn-test:downloadurl]
                        <a href="[websvn:downloadurl]" rel="nofollow">[lang:TARBALL]</a>
                     [websvn-endtest]
                     [websvn-test:downloadplainurl]
                       <a href="[websvn:downloadplainurl]" rel="nofollow">[lang:DOWNLOAD]</a>
                     [websvn-endtest]
                  </td>
               [websvn-endtest]
            [websvn-else]
               [websvn-test:rssurl]
                  <td style="border-right: 1px solid black; padding: 0 2px 0 2px;" class="row[websvn:rowparity]">[lang:NOBR]<a href="[websvn:logurl]">[lang:VIEWLOG]</a>[lang:ENDNOBR]</td>
                  <td style="padding: 0 2px 0 2px;" class="row[websvn:rowparity]"><a href="[websvn:rssurl]"><img style="border: 0;" src="[websvn:locwebsvnhttp]/templates/BlueGrey/rss.gif" width="27" height="15" alt="[lang:RSSFEED]"></a></td>
               [websvn-else]
                  <td style="padding: 0 2px 0 2px;" class="row[websvn:rowparity]">[lang:NOBR]<a href="[websvn:logurl]">[lang:VIEWLOG]</a>[lang:ENDNOBR]</td>
               [websvn-endtest]
            [websvn-endtest]   
         </tr>
         [websvn-endlisting]
      </table>
   <p>
   [websvn:compare_submit]
   [websvn:compare_hidden] 
   [websvn:compare_endform]
   <hr>
[websvn-endtest]
