
<table border=0 cellspacing=0 cellpadding=0 align="center">
   <tr>
      <td align="center">
         <br><h1>[lang:PROJECTS]:</h1>
         <p><hr><p>
         <table width="100%" class="outlined" cellpadding="2">
            [websvn-startlisting]
               <tr><td>[websvn:projlink]</td></tr>
            [websvn-endlisting]
         </table>
      </td>
   </tr>
</table>
  
