<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
   <head>
      <meta http-equiv="content-type" content="text/html;charset=[websvn:charset]">
      <meta http-equiv="generator" content="WebSVN [websvn:version]" /> <!-- leave this for stats -->
      <link rel="shortcut icon" type="image/x-icon" href="[websvn:locwebsvnhttp]/templates/BlueGrey/favicon.ico" />
      <link type="text/css" href="[websvn:locwebsvnhttp]/templates/BlueGrey/styles.css" rel="stylesheet" media="screen">
      <!--[if lt IE 7]>
      <script type="text/javascript" src="[websvn:locwebsvnhttp]/templates/BlueGrey/png.js"></script>
      <![endif]-->
      <script type="text/javascript" src="[websvn:locwebsvnhttp]/templates/BlueGrey/collapse.js"></script>
      <title>
         WebSVN
         [websvn-test:repname]
            - [websvn:repname]
         [websvn-endtest]
         [websvn-test:action]
            - [websvn:action]
         [websvn-endtest]
         [websvn-test:rev2]
            [websvn-test:path2]
               - [websvn:safepath1] [lang:REV] [websvn:rev1] [lang:AND] [websvn:safepath2] [lang:REV] [websvn:rev2]
            [websvn-else]
               - [lang:REV] [websvn:rev1] [lang:AND] [websvn:rev2]
            [websvn-endtest]
         [websvn-else]
            [websvn-test:rev]
               - [lang:REV] [websvn:rev]
            [websvn-endtest]
         [websvn-endtest]
         [websvn-test:path]
            - [websvn:safepath]
         [websvn-endtest]
      </title>

      <script type="text/javascript">
         function checkCB(chBox)
         {
            count = 0
            first = null
            f = chBox.form
            for (i = 0 ; i < f.elements.length ; i++)
            if (f.elements[i].type == 'checkbox' && f.elements[i].checked)
            {
               if (first == null && f.elements[i] != chBox)
                  first = f.elements[i]
               count += 1
            }
            
            if (count > 2) 
            {
               first.checked = false
               count -= 1
            }
         }
         
         [websvn-test:opentree]
            expandonload = true
         [websvn-endtest]
      </script>

      [websvn-test:rssurl]
         <link rel="alternate" type="application/rss+xml" title="WebSVN RSS" href="[websvn:rssurl]">
      [websvn-endtest]

</head>
<body>
	<table width="100%" border="0">
	  <tr>
		<td width="33%">&nbsp;</td>
		<td width="33%" align="center"><a href="http://www.websvn.info/"><img style="border: 0; width: 272px; height: 64px;" src="[websvn:locwebsvnhttp]/templates/BlueGrey/websvn.png" alt="WebSVN" /></a></td>
		<td width="33%"><div style="float: right">[websvn:lang_form][websvn:lang_select][websvn:lang_submit][websvn:lang_endform]</div></td>
	  </tr>
	</table>
	<hr />
