  </div> <!-- content -->
</div> <!-- wrapper -->
<div id="footer">
  <div id="valid">
    <a href="http://validator.w3.org/check?uri=[websvn:validationurl]">XHTML</a> |
    <a href="http://jigsaw.w3.org/css-validator/validator?uri=[websvn:validationurl]">CSS</a>
[websvn-test:rssurl]
  | <a href="http://feedvalidator.org/check.cgi?url=[websvn:validationurl]">RSS</a>
[websvn-endtest]
  </div>
  <div id="poweredby">[lang:POWERED] [websvn:version] [lang:AND] <a href="http://subversion.apache.org">Apache Subversion</a> [websvn:svnversion]</div>
</div>
[websvn-test:repname]
<script type="text/javascript" src="[websvn:locwebsvnhttp]/templates/Elegant/revision-popup.js"></script>
[websvn-endtest]
</body>
</html>
