    <div class="information">
      <span>
        You can customize this message in 'templates/Elegant/user_greeting.tmpl' to tell your
        visitors what they'll find in your repositories.
      </span>
    </div>
