</div>
<div id="footer">
  <p style="padding:0; margin:0"><small>[lang:POWERED] [websvn:version] [lang:AND] <a href="http://subversion.tigris.org">Subversion</a> [websvn:svnversion] &nbsp; &nbsp; &#x2713; <a href="http://validator.w3.org/check?uri=[websvn:validationurl]">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/validator?uri=[websvn:validationurl]">CSS</a></small></p>
</div>
</body>
</html>
