<div id="select">[websvn:projects_form]<div>[websvn:projects_select]<span class="submit">[websvn:projects_submit]</span></div>[websvn:projects_endform] [websvn:lang_form]<div>[websvn:lang_select]<span class="submit">[websvn:lang_submit]</span></div>[websvn:lang_endform]</div>
<h1><a href="[websvn:indexurl]" title="[lang:PROJECTS]">[lang:PROJECTS]</a> <span><a href="[websvn:repurl]">[websvn:repname]</a></span></h1>

[websvn-test:error]
  <div id="error">[websvn:error]</div>
[websvn-else]
<h2 id="pathlinks">[websvn:curdirlinks] - [lang:REV] [websvn:rev]</h2>
<div id="revjump">[websvn:revision_form][lang:REV] [websvn:revision_input]<span class="submit">[websvn:revision_submit]</span>[websvn:revision_endform]</div>
  <p>
   [websvn-test:goyoungestlink]
    <span class="goyoungest">[websvn:goyoungestlink]</span> &#124;
   [websvn-endtest]
    <span class="detail">[websvn:filedetaillink]</span> &#124;
   [websvn-test:difflink]
    <span class="diff">[websvn:difflink]</span> &#124;
   [websvn-endtest]
    <span class="log">[websvn:loglink]</span>
  </p>
  [websvn-test:warning]
  <div id="warning">[websvn:warning]</div>
  [websvn-else]
  <div style="margin:0 2%">
  <table>
     <thead>
        <tr>
        <th scope="col" class="colrev">[lang:REV]</th>
        <th scope="col" class="colauth">[lang:AUTHOR]</th>
        <th scope="col" class="collno">[lang:LINENO]</th>
        <th scope="col" class="colcode">[lang:LINE]</th>
        </tr>
     </thead>
     <tbody>
  [websvn-startlisting]
        <tr valign="middle">
           <td>[websvn:revision]</td>
           <td>[websvn:author]</td>
           <td><a name="l[websvn:lineno]">[websvn:lineno]</a></td>
           <td class="code"><pre>[websvn:line]</pre></td>
        </tr>
  [websvn-endlisting]
     </tbody>
  </table>
  [websvn:javascript]
  </div>
  [websvn-endtest]
[websvn-endtest]
