[websvn-test:error]
  <div id="error">[websvn:error]</div>
[websvn-else]
  <h2 id="pathlinks">[websvn:pathlinks] - [lang:REV] [websvn:rev]</h2>
  <div id="revjump">[websvn:revision_form][lang:REV] [websvn:revision_input]<span class="submit">[websvn:revision_submit]</span>[websvn:revision_endform]</div>
  <p>
    [websvn-test:prevrevurl]
    <span class="prev"><a href="[websvn:prevrevurl]">[lang:REV] [websvn:prevrev]</a></span> &#124;
    [websvn-endtest]
    [websvn-test:nextrevurl]
    <span class="next"><a href="[websvn:nextrevurl]">[lang:REV] [websvn:nextrev]</a></span> &#124;
    [websvn-endtest]
    [websvn-test:goyoungestlink]
    <span class="goyoungest">[websvn:goyoungestlink]</span> &#124;
    [websvn-endtest]
    [websvn-test:mimelink]
    <span class="mime">[websvn:mimelink]</span> &#124;
    [websvn-endtest]
    <span class="blame">[websvn:blamelink]</span> &#124;
    [websvn-test:difflink]
    <span class="diff">[websvn:difflink]</span> &#124;
    [websvn-endtest]
    <span class="changes">[websvn:revlink]</span> &#124;
    <span class="log">[websvn:loglink]</span>
    [websvn-test:downloadlink]
    &#124; <span class="compress">[websvn:downloadlink]</span>
    [websvn-endtest]
    [websvn-test:clientrooturl]
    &#124; <span class="svn"><a href="[websvn:clientrooturl][websvn:path]">SVN</a></span>
    [websvn-endtest]
    [websvn-test:rsslink]
    &#124; <span class="feed">[websvn:rsslink]</span>
    [websvn-endtest]
  </p>
  [websvn-test:warning]
  <div id="warning">[websvn:warning]</div>
  [websvn-else]
  <div class="listing">
    [websvn-getlisting]
  </div>
  [websvn-test:warning]
  <!-- check for warnings generated by getlisting -->
  <div id="warning">[websvn:warning]</div>
  [websvn-endtest]
  [websvn-endtest]
[websvn-endtest]
