<div id="select">[websvn:projects_form][websvn:projects_select]<span class="submit">[websvn:projects_submit]</span>[websvn:projects_endform]</div>
<h1><a href="index.php" title="Project home">[lang:PROJECTS]</a> <span>[websvn:repname]</span><br /><small>[lang:REV] [websvn:rev]</small></h1>
<h2 class="path" style="margin:0 2% 15px 2%;">[websvn:curdirlinks]</h2>
<p>
[websvn-test:goyoungestlink]
<span class="goyoungest">[websvn:goyoungestlink]</span> &#124;
[websvn-endtest]
<span class="diff">[websvn:prevdifflink]</span> &#124;
<span class="diff">[websvn:blamelink]</span> 
</p>
    <div class="listing">
      [websvn-getlisting]
    </div>
<p>
[websvn-test:goyoungestlink]
<span class="goyoungest">[websvn:goyoungestlink]</span> &#124;
[websvn-endtest]
<span class="diff">[websvn:prevdifflink]</span> &#124;
<span class="diff">[websvn:blamelink]</span>
</p>
