<html>
   <head>
		<meta http-equiv="content-type" content="text/html;charset=[websvn:charset]">
	   <link href="[websvn:locwebsvnhttp]/templates/Standard/styles.css" rel="stylesheet" media="screen">
      <title>
         WebSVN
         [websvn-test:repname]
            - [websvn:repname]
         [websvn-endtest]
         [websvn-test:action]
            - [websvn:action]
         [websvn-endtest]
         [websvn-test:rev2]
            - [lang:REV] [websvn:rev1] [lang:AND] [websvn:rev2] -
         [websvn-else]
            [websvn-test:rev]
               - [lang:REV] [websvn:rev] -
            [websvn-endtest]
         [websvn-endtest]
         [websvn:path]
      </title>
   </head>
   <body>
      <center>
         <h1>[lang:SERVER]</h1>
      </center>
      <hr>
      <p>